{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dodaj kodeks</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Dodaj" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('legalcode_index') }}">Powrót do listy</a>
        </li>
    </ul>
{% endblock %}
