{% extends "base.html.twig" %}
{% block body %}
    <div >
        <div >
            <h4 >Signup</h4>
        </div>
    </div>
    <div >
        <div >
            {% include "FOSUserBundle:Registration:register_content.html.twig" %}
        </div>
    </div>
{% endblock body %}
